.dropdown {
  position: relative;
  display: inline-block;

  .priceAdditional {
    color: #009246;
  }
}

.dropdownBtn {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #c9c9c9;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.dropdownContent {
  display: none;
  overflow: auto;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  max-height: 150px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.listDropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #c9c9c9;
  background-color: #fff;
  padding: 10px;
  gap: 10px;
  text-decoration: none;
}

.listDropdown:hover {
  background-color: #ddd;
  cursor: pointer;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownContent::-webkit-scrollbar {
  width: 4px;
  background-color: #c9c9c9;
}

.dropdownContent::-webkit-scrollbar-thumb {
  background-color: #686868;
}
