$color-green: #009246;
$color-white: #fff;
$color-red: #ce2b37;
$text-color-primary: #c9c9c9;
$background-color-secondary: #c9c9c9;
$background-color-terciary: #f2f2f2;

// screens
$screen-tablet: 768px;

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 1px 10px rgba($background-color-secondary, 0.8);
  background-color: $color-white;
  font-size: 18px;
  position: fixed;

  .title {
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
    text-shadow: 0px 0px 3px #000;
    .colorGreen {
      color: $color-green;
    }

    .colorWhite {
      color: $color-white;
    }

    .colorRed {
      color: $color-red;
    }
  }

  .mobile {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .toggleMenu {
    display: none;
    background-color: #808080;
    border-radius: 6px;
    button {
      background-color: transparent;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-white;
      font-size: 30px;
      padding: 4px;
    }
  }

  .menu {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .menuMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 58px;
    left: 0;
    right: 0;
    position: fixed;
    background-color: $color-white;
    z-index: 99;
    box-shadow: 0px 4px 5px rgba($background-color-secondary, 0.8);
  }

  .listContainer {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
    list-style: none;
    color: $text-color-primary;
  }

  .itemList {
    padding: 10px;
  }

  .itemList:hover {
    transition: ease-in-out 0.2s;
    background-color: $background-color-terciary;
    border-radius: 6px;
    cursor: pointer;
  }

  .btnContainer {
    display: flex;
    gap: 10px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  button {
    background: transparent;
    font-size: inherit;
    color: inherit;
    cursor: inherit;
  }

  .btnSignIn {
    color: #202020;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
  }

  .btnSignIn:hover {
    transition: ease-in-out 0.2s;
    background-color: #202020;
    color: $color-white;
  }

  .btnSignUp {
    color: $color-white;
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    background-color: #808080;
    cursor: pointer;
  }

  .btnSignUp:hover {
    background-color: #8d8c8c;
    color: $color-white;
  }

  .iconCartDesktop,
  .iconCartMobile,
  .iconUser {
    padding: 10px;
    font-size: 20px;
    color: #404040;
    cursor: pointer;
    text-align: center;
  }

  .iconUser {
    padding: 10px 5px;
  }

  .iconCartMobile {
    display: none;
  }

  .userContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    cursor: pointer;
  }

  .userContainerDesktop {
    display: block;
  }

  .userContainerMobile {
    display: none;
  }

  .dropdownContainer {
    position: fixed;
    margin-top: 0;
    right: 5px;
  }

  .dropdown {
    width: 100%;
    max-width: 200px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;
    margin-top: 13px;
    background-color: #fff;
    border: 1px solid #c9c9c9;

    .userNameContainer {
      padding: 10px 5px;
      width: 100%;
      border-bottom: 1px solid $background-color-secondary;

      .text {
        font-size: 14px;
      }

      .userName {
        margin-left: 4px;
        font-size: 14px;
        color: #606060;
        font-weight: bold;
        flex-wrap: wrap;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      padding: 10px 0;
    }

    li {
      font-size: 14px;
      padding: 5px;
    }

    li:hover {
      transition: ease-in-out 0.2s;
      background-color: #dedede;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  .visible {
    display: block;
  }

  .invisible {
    display: none;
  }
  @media screen and (max-width: $screen-tablet) {
    .menu {
      display: none;
    }

    .userContainerMobile {
      display: block;
    }

    .dropdownContainer {
      right: auto;
      left: auto;
    }

    .listContainer {
      flex-direction: column;
      padding: 20px;
    }

    .btnContainer {
      flex-direction: column;
      padding: 15px;
    }

    .iconCartMobile {
      display: block;
    }

    .iconCartDesktop {
      display: none;
    }

    .toggleMenu {
      display: flex;
    }
  }
}
