.inputContainer {
  position: relative;
  display: flex;

  .input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px;
    border-left: 2px solid #c9c9c9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  .inputPassword {
    padding-right: 40px;
  }
}
