.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  padding: 20px;

  .modalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    min-width: 45%;
    min-height: 40%;
  }

  .icon {
    font-size: 40px;
  }

  .iconAwait {
    color: #f1f118;
  }

  .iconSuccess {
    color: #009246;
  }

  .iconError {
    color: #ce2b37;
  }

  .textMessage {
    color: #222;
  }
}
