.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 30px;
}

@media screen and (max-width: 768px) {
  .comboContainer {
    .title {
      text-align: center;
    }
  }
}
