.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 6px;
  }

  .textGroup {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 15px;
    gap: 10px;
  }

  .textInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    font-size: 16px;
  }

  .size,
  .name {
    color: #2f2f2f;
  }

  .slice {
    color: #b2b2b2;
  }

  .description {
    font-size: 13px;
    color: #b2b2b2;
  }

  .price {
    font-size: 14px;
    font-weight: bold;
  }
}
